

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
.container {
  position: relative;
  width: 95%;
  margin: auto;
}
 .subTitle h4 {
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  position: relative;
  margin: 20px 0;
  display: inline-block
}
.subTitle h4::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  /*    width: 10%;*/
  height: 5px;
  margin-top: 20px;
  background: var(--secondary-color);
  animation: expand 5s 0.5s ease-in-out infinite;
}

@keyframes expand {
  0% {
    width: 0;
  }

  50% {
    width: 20%;
  }

  100% {
    width: 0;
  }
}

.subTitle hr{
  margin-bottom: 10px !important;
}
mat-card {
  width: 90%;
  margin: auto;
}

.align {
  display: flex;
  align-content: space-around;
}

mat-form-field.input-field {
  position: relative;
}

form.form {
  width: 100%;
}

mat-form-field{
  display: inline;
  width: 40%;
  margin-left: 20px;
  margin-top: 10px;
}

.addBtn{
  background-color: var(--main-color);
  color: white;
}
.form-input {
  position: relative;
}
.form-input input{
  height: 20px;
}


.mainBtn {
  width: 140px;
  /*display: block;*/
  background: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 1px 8px;
  text-align: center;
  margin-bottom: 10px;
  /*transform: translateX(250%);*/
}
.mainBtn:hover{
  /*display: block;*/
  background: transparent;
  color: var(--main-color);
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color:  var(--secondary-color);;
}

::ng-deep .mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background-color: var(--secondary-color);
}
mat-select.mat-selected{
  color:darkgreen;
}

