<mat-card class="mat-elevation-z8">
   <div class="container">
      <div class="col-12">
         <div class="subTitle">
            <h4>System Management / Classrooms</h4>
            <hr>
         </div>
      </div>
      <form class="form-row form">
         <div class="form-group col-md-4 col-sm-12 search-box">
            <mat-form-field appearance="outline">
               <mat-label>Search</mat-label>
               <input matInput [(ngModel)]="searchValue" #searchBox (keyup)="applyFilter()" class="searchInput" id="inputField"
                      name="filterValue" type="search">
            </mat-form-field>
         </div>
         <div class="col-md-4 col-sm-12 mt-1">
            <mat-form-field appearance="outline">
               <mat-label>College</mat-label>
               <mat-select #collegeSelect [value]="collegeSelectValue">
                  <mat-option [value]="undefined">
                     Choose College
                  </mat-option>
                  <mat-option *ngFor="let row of colleges" [value]="row.id">
                     {{row.nameEn}}
                  </mat-option>
               </mat-select>
            </mat-form-field>
         </div>
         <div class="col-md-4 col-sm-12 mt-1">
            <mat-form-field appearance="outline">
               <mat-label>Building</mat-label>
               <mat-select disabled #buildingSelect [value]="buildingSelectValue">
                  <mat-option [value]="undefined">
                     Choose Building
                  </mat-option>
                  <mat-option color="var(--main-color)" *ngFor="let building of buildings" [value]="building.id">
                     {{building.name}}
                  </mat-option>
               </mat-select>
            </mat-form-field>
         </div>
         <div appearance="outline" class="col-md-3 col-sm-12">
            <button (click)="resetFilter()" class="btn btn-info">Reset</button>
         </div>
      </form>
   </div>
</mat-card>
