<mat-card class="mat-elevation-z8">
   <div class="container">
      <div class="col-12">
         <div class="subTitle ">
            <h4>Academic Data Management / Grade Book</h4>
            <hr>
         </div>
      </div>
      <form class="form-row form">

         <div class="col-md-4 col-sm-12 mt-1">
            <mat-form-field appearance="outline">
               <mat-label>AcademicTerms</mat-label>
               <mat-select #academicTermSelect>
                  <mat-option *ngFor="let academicTerm of academicTerms" [value]="academicTerm.id">
                     {{academicTerm.name}}
                  </mat-option>
               </mat-select>
            </mat-form-field>
         </div>

         <div class="col-md-4 col-sm-12 mt-1">
            <mat-form-field appearance="outline">
               <mat-label>section</mat-label>
               <mat-select #sectionSelect>
                  <mat-option *ngFor="let section of sections" [value]="section">
                     {{section.courseDTO.nameEn + ': ' + section.sectionNumber}}
                  </mat-option>
               </mat-select>
            </mat-form-field>
         </div>

      </form>
   </div>
</mat-card>
