<div class="row">
  <div class="col-1">
    <button
      (click)="sideMenu.toggle()"
      aria-label="Toggle sidenav"
      mat-icon-button
      type="button">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </div>
  <div class="col-1">
    <img class="logo" src="./assets/2048px-Angular_full_color_logo.png">
  </div>
  <div class="col-7">

  </div>
  <div class="col-1 text-center">
    <button
      aria-label="Toggle sidenav"
      mat-icon-button
      type="button">
      <mat-icon>notifications</mat-icon>
    </button>
  </div>
  <div class="col-1 text-center">
    <img class="profileImage" src="./assets/1625165002498.jpg">
  </div>
  <div class="col-1 text-center">
    <button
      aria-label="Toggle sidenav"
      mat-icon-button
      type="button">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>
