<!--       Wrapped Content   -->
<div class="main-content">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="pageTitle">
               <h2>Update Password</h2>
            </div>
         </div>
         <div class="col-12">

            <!--  submission Form   -->
            <div class="row">
               <form (ngSubmit)="updatePass()" [formGroup]="passForm" class="submition-form col-sm-12 col-lg-8"
                     id="passForm">
                  <div class="form-row">
                     <mat-form-field appearance="outline" class="col-md-6 col-sm-12 form-input">
                        <mat-label>Old Password</mat-label>
                        <input formControlName="oldPass" matInput name="oldPass" required type="password">
                        <mat-error *ngIf="passForm.get('oldPass')?.errors?.minlength">At Least 8 Characters</mat-error>
                        <mat-error *ngIf="passForm.get('oldPass')?.errors?.serverError">{{errorMessage}}</mat-error>


                     </mat-form-field>
                     <mat-form-field appearance="outline" class="col-md-6 col-sm-12 form-input">
                        <mat-label>New Password</mat-label>
                        <input (change)="isPassChanged=true" formControlName="newPass" matInput name="newPass"
                               required type="password">
                        <mat-error *ngIf="passForm.get('newPass')?.errors">At Least 8 Characters</mat-error>

                     </mat-form-field>


                     <div class="col-md-3 mr-auto col-sm-12 form-input">
                        <button [disabled]="passForm.invalid " [ngClass]="{'disabled-btn':passForm.invalid}"
                                class="btn btn-primary form-control" form="passForm"
                                mat-raised-button type="submit">Update
                        </button>
                     </div>
                     <div class="col-md-3 mr-auto col-sm-12 form-input">
                        <button  class="btn btn-primary form-control"
                                mat-raised-button
                                type="button" (click)="cancel()" >Cancel
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>

   </div>
</div>
