<!--       Wrapped Content   -->
<div class="main-content">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="pageTitle">
               <h2>Edit Timetable</h2>
            </div>
         </div>
         <div class="col-12">

            <!--  Submission Form   -->
            <div class="row">
               <form [formGroup]="form" class="submission-form col-sm-12 form" id="form">
                  <div class="form-row form">

                     <!-- faculty Member -->
                     <mat-form-field appearance="outline" class="col-md-6 mr-auto col-sm-12 form-input">
                        <mat-label>Faculty Member</mat-label>
                        <mat-select #facultyMemberSelect [formControlName]="'facultyMemberMenu'" required>
                           <mat-option *ngFor="let facultyMember of facultyMembers" [value]="facultyMember.id">
                              {{facultyMember.nameEn}}
                           </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('facultyMemberMenu')?.errors?.required">Required</mat-error>
                     </mat-form-field>

                     <!-- lectureType -->
                     <mat-form-field appearance="outline" class="col-md-6 mr-auto col-sm-12 form-input">
                        <mat-label>Lecture Type</mat-label>
                        <mat-select #lectureTypeSelect [formControlName]="'lectureTypeMenu'" required>
                           <mat-option *ngFor="let lectureType of lectureTypes" [value]="lectureType.id">
                              {{lectureType.nameEn}}
                           </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('lectureTypeMenu')?.errors?.required">Required</mat-error>
                     </mat-form-field>

                     <!-- building -->
                     <mat-form-field appearance="outline" class="col-md-6 mr-auto col-sm-12 form-input">
                        <mat-label>Building</mat-label>
                        <mat-select #buildingSelect [formControlName]="'buildingMenu'" required>
                           <mat-option *ngFor="let building of buildings" [value]="building.id">
                              {{building.name}}
                           </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('buildingMenu')?.errors?.required">Required</mat-error>
                     </mat-form-field>

                     <!-- classroom -->
                     <mat-form-field appearance="outline" class="col-md-6 mr-auto col-sm-12 form-input">
                        <mat-label>Classroom</mat-label>
                        <mat-select #classroomSelect [formControlName]="'classroomMenu'" required>
                           <mat-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                              {{classroom.name}}
                           </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('classroomMenu')?.errors?.required">Required</mat-error>
                     </mat-form-field>

                     <!-- day -->
                     <mat-form-field appearance="outline" class="col-md-6 mr-auto col-sm-12 form-input">
                        <mat-label>Days</mat-label>
                        <mat-select #daySelect [formControlName]="'dayMenu'" required>
                           <mat-option *ngFor="let day of days" [value]="day">
                              {{day}}
                           </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('dayMenu')?.errors?.serverError">{{errorMessage}}</mat-error>
                     </mat-form-field>

                     <!-- startTime-->
                     <mat-form-field appearance="outline" class="col-md-6 col-sm-12  form-input">
                        <mat-label>Start Time</mat-label>
                        <input type="time" formControlName="startTime" matInput name="startTime">
                        <mat-error *ngIf="form.get('startTime')?.errors?.serverError">{{errorMessage}}</mat-error>
                     </mat-form-field>

                     <!-- endTime -->
                     <mat-form-field appearance="outline" class="col-md-6 col-sm-12  form-input">
                        <mat-label>EndTime</mat-label>
                        <input type="time" formControlName="endTime" matInput name="endTime">
                        <mat-error *ngIf="form.get('endTime')?.errors?.serverError">{{errorMessage}}</mat-error>
                     </mat-form-field>

                     <div class="col-12">
                        <div class="subTitle">
                        </div>
                     </div>

                     <div class="col-md-6 mr-auto col-sm-12 form-input">
                        <button class="btn btn-primary form-control" form="form" mat-raised-button
                                type="button" (click)="update()" [disabled]="form.invalid">Save
                        </button>
                     </div>
                     <div class="col-md-6 mr-auto col-sm-12 form-input">
                        <button mat-raised-button type="button" (click)="cancel()"
                                class="btn btn-secondary form-control">
                           Cancel
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
