<!--       Wrapped Content   -->
<div class="main-content">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="pageTitle">
               <h2>View College</h2>
            </div>
         </div>
         <div class="col-12">
            <hr>
            <!--  submission Form   -->
            <div class="row">
               <form [formGroup]="form" class="submission-form col-sm-12 col-lg-8" id="form">
                  <div class="form-row">

                     <mat-form-field appearance="outline" class="col-md-6 col-sm-12  form-input outline ">
                        <mat-label>Code</mat-label>
                        <input [disabled]="readOnly" formControlName="code" matInput name="code" required>
                        <mat-error *ngIf="form.controls['code']?.errors?.required"> Required</mat-error>
                        <mat-error *ngIf="form.get('code')?.errors?.serverError">{{errorMessage}}</mat-error>
                     </mat-form-field>

                     <mat-form-field appearance="outline" class="col-md-6 col-sm-12  form-input outline ">
                        <mat-label>Arabic Name</mat-label>
                        <input [disabled]="readOnly" formControlName="nameAr" matInput name="nameAr" required>
                        <mat-error *ngIf="form.controls['nameAr']?.errors?.required"> Required</mat-error>
                        <mat-error *ngIf="form.get('nameAr')?.errors?.serverError">{{errorMessage}}</mat-error>

                     </mat-form-field>
                     <mat-form-field appearance="outline" class="col-md-6 col-sm-12  form-input outline ">
                        <mat-label>English Name</mat-label>
                        <input [disabled]="readOnly" formControlName="nameEn" matInput name="nameEn" required>
                        <mat-error *ngIf="form.controls['nameEn']?.errors?.required"> Required</mat-error>
                        <mat-error *ngIf="form.get('nameEn')?.errors?.serverError">{{errorMessage}}</mat-error>

                     </mat-form-field>
                  </div>
               </form>
               <div class="d-flex">
                  <div *ngIf="!readOnly" class="col-md-6 mr-auto col-sm-12 form-input">
                     <button (click)="save()" mat-raised-button form="form" class="mainBtn btn btn-primary form-control">
                        Update
                     </button>
                  </div>
                  <div *ngIf="readOnly" class="col-md-6 mr-auto col-sm-12 form-input">
                     <button (click)="edit()" mat-raised-button form="form"
                             class="mainBtn btn btn-primary form-control">Edit
                     </button>
                  </div>
                  <div class="col-md-6 mr-auto col-sm-12 form-input">
                     <button (click)="cancel()" mat-raised-button form="form"
                             class="mainBtn btn btn-primary form-control">
                        Cancel
                     </button>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>

</div>
