<mat-card class="mat-elevation-z8">
  <div class="container">
    <div class="col-12">
      <div class="subTitle ">
        <h4>Section {{this.section.sectionNumber}} Students</h4>
        <hr>
      </div>
    </div>

    <div *ngIf="tableData" class="mat-elevation-z8 mt-3 full-width-table">
      <mat-table (matSortChange)="sortEvent($event)" [dataSource]="tableData.data" aria-label="Elements" matSort>

        <!-- Number Column -->
        <ng-container matColumnDef="No.">
          <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
          <mat-cell *matCellDef="let row; let i=index">{{i + 1}}</mat-cell>
        </ng-container>

        <!-- studentUniversityId Column -->
        <ng-container matColumnDef="university_id">
          <mat-header-cell *matHeaderCellDef>University Id
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.studentDTO.universityId}}</mat-cell>
        </ng-container>

        <!-- studentName Column -->
        <ng-container matColumnDef="name_en">
          <mat-header-cell *matHeaderCellDef>Name
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.studentDTO.nameEn}}</mat-cell>
        </ng-container>

        <!-- studentLevel Column -->
        <ng-container matColumnDef="Level">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Level
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.studentDTO.level}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="options">
              <button (click)="deleteStudentEnrollment(row)" mat-icon-button>
                <mat-icon class="user-times">delete</mat-icon>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator
                     (page)="pageChangeEvent($event)"
                     [length]="tableData.totalCount"
                     [pageIndex]="pageIndex"
                     [pageSizeOptions]="[5,10, 25, 50]"
                     [pageSize]="defaultPgeSize"

                     aria-label="Select page"
                     showFirstLastButtons>
      </mat-paginator>
    </div>
    <mat-spinner *ngIf="!tableData" class="text-center"></mat-spinner>
  </div>
</mat-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Delete</button>
</mat-menu>
