.subTitle h4 {
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  position: relative;
  margin: 20px 0;
  display: inline-block
}
.subTitle h4::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  /*    width: 10%;*/
  height: 5px;
  margin-top: 20px;
  background: var(--secondary-color);
  animation: expand 5s 0.5s ease-in-out infinite;
}
@keyframes expand {
  0% {
    width: 0;
  }

  50% {
    width: 20%;
  }

  100% {
    width: 0;
  }
}

.subTitle hr{
  margin-bottom: 10px !important;
}
mat-card {
  width: 90%;
  margin: auto;
}

.full-width-table {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

mat-cell {
  display: flex !important;
  justify-content: center !important;

}

mat-header-cell {
  display: flex;
  justify-content: center;
}

.mat-column-select {
  overflow: initial;
}

mat-divider {

  margin: 10px 5px 5px;
  height: 5px;
}

mat-spinner {
  margin: 30px auto 0;
}

mat-header-row {
  background-color: var(--main-color);
}

mat-header-cell {
  color: white;
}

mat-row:hover {
  background-color: lightgray;
}

mat-row {
  transition: 0.3s;
}

span mat-icon:hover {
  cursor: pointer;
}

mat-cell .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-cell .options mat-icon + mat-icon {
  margin-left: 15px;
}

mat-cell .options mat-icon {
  cursor: pointer;
}

mat-cell .options mat-icon.eye {
  color: #1E8B17;
}

mat-cell .options mat-icon.user-edit {
  color: #393DB4;
}

mat-cell .options mat-icon.user-times {
  color: #F00B0B;
}
::ng-deep.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--secondary-color);
}
