mat-card {
    width: 90%;
    margin: auto;
  }

  mat-form-field {
    width: 60%;
  }

.align {
    display: flex;
    align-content: space-around;
  }


.subTitle h4 {
   color: var(--main-color);
   font-size: 30px;
   font-weight: bold;
   position: relative;
   margin: 20px 0;
   display: inline-block
}
.subTitle h4::after {
   content: '';
   position: absolute;
   bottom: -10px;
   left: 0;
   /*    width: 10%;*/
   height: 5px;
   margin-top: 20px;
   background: var(--secondary-color);
   animation: expand 5s 0.5s ease-in-out infinite;
}

/*mat-form-field.input-field {*/
  /*  position: relative;*/
  /*}*/
  /*mat-form-field.input-field button{*/
  /*  position: absolute;;*/
  /*  top: 0;*/
  /*  right: 0;*/
  /*  height:  100%;*/
  /*}*/

form.form {
    width: 50%;
    margin: auto;
  }

.search-box {
    position: relative;
    width: 50%;
    margin: auto;
  }

.search-box .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

}

.search-box input {
  box-shadow: none;
  outline: none;
  height: 50px;
}

.search-box input:focus {
    box-shadow: none;
    outline: none;
    border-color: var(--main-color);
  }

.search-box button:focus {
    box-shadow: none;
  }

.search-box button {
    background-color: var(--main-color);
    border: none;
  }

.search-box button:active {
    background-color: var(--secondary-color);
  }
