<mat-card class="mat-elevation-z8">
   <div class="container">
      <div class="col-12">
         <div class="subTitle ">
            <h4>System Management / Academic Years</h4>
            <hr>
         </div>
      </div>
      <form class="form-row form">
         <div class="form-group col-md-6 col-sm-12 search-box">
            <mat-form-field appearance="outline">
               <mat-label>Search</mat-label>
               <input matInput [(ngModel)]="searchValue" #searchBox (keyup)="applyFilter($event)" class="searchInput"
                      id="inputField" name="filterValue" type="search">
            </mat-form-field>
         </div>
      </form>
      <div appearance="outline" class="col-md-3 col-sm-12">
         <button (click)="resetFilter()" class="btn btn-info">Reset</button>
      </div>
   </div>
</mat-card>
