<mat-card class="mat-elevation-z8">
  <div class="container">
    <div class="col-12">
      <div class="subTitle ">
        <h4>System Management/Academic Year</h4>
        <hr>
      </div>
    </div>
    <form class="form-row form">
      <div class="form-group col-6 m-auto search-box ">
        <input [(ngModel)]="searchValue" #searchBox (keyup)="applyFilter($event)" class="form-control" id="inputField"
        name="filterValue" placeholder="Search here" type="text">
      </div>
      <div appearance="outline" class="col-md-3 col-sm-12">
        <button (click)="resetFilter()" class="btn btn-info">Reset</button>
      </div>
    </form>
  </div>
</mat-card>
