<mat-card class="mat-elevation-z8">
  <div class="container">
    <form>
      <div class="row">
        <div class="col text-center">
          <mat-form-field appearance="fill">
            <mat-label>Search</mat-label>
            <input [(ngModel)]="collegeFilterModel.englishName" matInput name="collegeFilterModel.englishName">
          </mat-form-field>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-6 mt-2">
              <button (click)="applyFilter()" class="m-1" color="primary" mat-raised-button>Search</button>
              <button (click)="resetFilter()" class="m-1" color="accent" mat-raised-button>Reset</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</mat-card>
