mat-card {
   width: 90%;
   margin: auto;
}

.timetable mat-button-toggle-group {
   margin: auto !important;
}

.timetable {
   display: flex;
   justify-content: space-between;
   align-items: center
}
.mainBtn{
   width: auto;
   display: block;
   background: var(--main-color);
   border: 1px solid var(--main-color);
   padding: 1px 10px;
}
.mainBtn2{
   display: block;
   background: transparent;
   color: var(--main-color);
}
