<div class="logo">
  <img src="../../../assets/lightbulb.svg">
  <span>Edu Skills</span>
</div>
<mat-accordion>
  <mat-expansion-panel
    #collegeManagementExpansion
    (afterExpand)="closeOtherExpansions(collegeManagementExpansion)"
    [expanded]="false"
    class="mat-expansion-panel-body">
    <mat-expansion-panel-header>
      College Management
    </mat-expansion-panel-header>
    <ul>
      <li [routerLinkActiveOptions]="{exact: true}"
          [routerLinkActive]="['active']"
          [routerLink]="['/colleges-management','college-list']">
        <a>
          <mat-icon>home</mat-icon>
          <span>
            List Of Colleges
          </span>
        </a>
      </li>
      <li [routerLinkActive]="['active']"
          [routerLink]="['/colleges-management','create-college']">
        <a>
          <mat-icon>add</mat-icon>
          <span>
            Add College
          </span>
        </a>
      </li>
      <li>
        <a>
          <mat-icon>home</mat-icon>
          <span>
            List Of Colleges
          </span>
        </a>
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel
    #collegeManagementExpansion1
    (afterExpand)="closeOtherExpansions(collegeManagementExpansion1)"
    [expanded]="false"
    class="mat-expansion-panel-body">
    <mat-expansion-panel-header>
      College Management
    </mat-expansion-panel-header>
    <ul>
      <li [routerLinkActiveOptions]="{exact: true}"
          [routerLinkActive]="['active']"
          [routerLink]="['/colleges-management','college-list']">
        <a>
          <mat-icon>home</mat-icon>
          <span>
            List Of Colleges
          </span>
        </a>
      </li>
      <li [routerLinkActive]="['active']"
          [routerLink]="['/colleges-management','create-college']">
        <a>
          <mat-icon>add</mat-icon>
          <span>
            Add College
          </span>
        </a>
      </li>
      <li>
        <a>
          <mat-icon>home</mat-icon>
          <span>
            List Of Colleges
          </span>
        </a>
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel
    #collegeManagementExpansion2
    (afterExpand)="closeOtherExpansions(collegeManagementExpansion2)"
    [expanded]="false"
    class="mat-expansion-panel-body">
    <mat-expansion-panel-header>
      College Management
    </mat-expansion-panel-header>
    <ul>
      <li [routerLinkActiveOptions]="{exact: true}"
          [routerLinkActive]="['active']"
          [routerLink]="['/colleges-management','college-list']">
        <a>
          <mat-icon>home</mat-icon>
          <span>
            List Of Colleges
          </span>
        </a>
      </li>
      <li [routerLinkActive]="['active']"
          [routerLink]="['/colleges-management','create-college']">
        <a>
          <mat-icon>add</mat-icon>
          <span>
            Add College
          </span>
        </a>
      </li>
      <li>
        <a>
          <mat-icon>home</mat-icon>
          <span>
            List Of Colleges
          </span>
        </a>
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel
    #collegeManagementExpansion3
    (afterExpand)="closeOtherExpansions(collegeManagementExpansion3)"
    [expanded]="false"
    class="mat-expansion-panel-body">
    <mat-expansion-panel-header>
      College Management
    </mat-expansion-panel-header>
    <ul>
      <li [routerLinkActiveOptions]="{exact: true}"
          [routerLinkActive]="['active']"
          [routerLink]="['/colleges-management','college-list']">
        <a>
          <mat-icon>home</mat-icon>
          <span>
            List Of Colleges
          </span>
        </a>
      </li>
      <li [routerLinkActive]="['active']"
          [routerLink]="['/colleges-management','create-college']">
        <a>
          <mat-icon>add</mat-icon>
          <span>
            Add College
          </span>
        </a>
      </li>
      <li>
        <a>
          <mat-icon>home</mat-icon>
          <span>
            List Of Colleges
          </span>
        </a>
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>

