<!--       Wrapped Content   -->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pageTitle">
          <h2>View Academic Program</h2>
        </div>
      </div>
      <div class="col-12">
        <hr>
        <!--  Submission Form   -->
        <div class="row">
          <form class="submission-form col-sm-12 col-lg-8" [formGroup]="form" id="form"  >
            <div class="form-row">

              <mat-form-field appearance="outline" class="col-md-6 col-sm-12  form-input outline ">
                <mat-label>Code</mat-label>
                <input formControlName="code" matInput name="code" required>
                <mat-error *ngIf="form.controls['code']?.errors?.required"> Required</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6 col-sm-12  form-input outline ">
                <mat-label>Arabic Name</mat-label>
                <input formControlName="name_ar" matInput id="name_ar" rquired>
                <mat-error *ngIf="form.controls['name_ar']?.errors?.required"> Required</mat-error>

              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6 col-sm-12  form-input">
                <mat-label>English Name</mat-label>
                <input id="name_en" formControlName="name_en" matInput required >
                <mat-error *ngIf="form.controls['name_en']?.errors?.required"> Required</mat-error>
              </mat-form-field>


              <mat-form-field appearance="outline" class="col-md-6 select-sm col-sm-12 form-input">
                <mat-label>College</mat-label>

                <mat-select #collegeSelect [formControlName]="'collegeMenu'" required>
                  <mat-option *ngFor="let col of colleges" [value]="col.id">
                    {{col.nameEn}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('collegeMenu')?.errors?.required">Required</mat-error>

              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6 select-sm col-sm-12 form-input">
                <mat-label>Department</mat-label>
                <mat-select #departmentSelect formControlName="departmentMenu" #departmentMenu required>
                  <mat-option *ngFor="let dept of departments" [value]="dept.id">
                    {{dept.nameEn}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('departmentMenu')?.errors?.required">Required</mat-error>
              </mat-form-field>


              <div *ngIf="!readOnly" class="col-md-6 mr-auto col-sm-12 form-input">
                <button mat-raised-button type="submit" [disabled]="form.invalid" form="form" (click)="add()" class="btn btn-primary form-control">Update</button>
              </div>
              <div class="col-md-6 mr-auto col-sm-12 form-input">
                <button *ngIf="readOnly"  mat-raised-button type="submit" form="form" (click)="edit()" class="mainBtn btn btn-primary form-control">Edit</button>
              </div>
              <div class="col-md-6 mr-auto col-sm-12 form-input">
                <button  mat-raised-button type="submit" form="form" (click)="cancel()"  class="mainBtn btn btn-primary form-control">Cancel</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>
