<!--       Wrapped Content   -->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pageTitle">
          <h2>View Building</h2>
        </div>
      </div>
      <div class="col-12">
        <hr>
        <!--  submission Form   -->
        <div class="row">
          <form [formGroup]="form" class="submission-form col-sm-12 col-lg-8" id="form">
            <div class="form-row">

              <mat-form-field appearance="outline" class="col-md-6 col-sm-12  form-input outline ">
                <mat-label>Code</mat-label>
                <input [disabled]="readOnly" formControlName="code" matInput name="code" required>
                <mat-error *ngIf="form.controls['code']?.errors?.required"> Required</mat-error>
                <mat-error *ngIf="form.get('code')?.errors?.serverError">{{errorMessage}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6 col-sm-12  form-input outline ">
                <mat-label>Name</mat-label>
                <input [disabled]="readOnly" formControlName="name" matInput name="name" required>
                <mat-error *ngIf="form.controls['name']?.errors?.required"> Required</mat-error>
                <mat-error *ngIf="form.get('name')?.errors?.serverError">{{errorMessage}}</mat-error>

              </mat-form-field>

               <mat-form-field appearance="outline" class="col-md-6 select-sm col-sm-12 form-input">
                  <mat-label>Department</mat-label>
                  <mat-select formControlName="departmentMenu" id="departmentMenu">
                     <mat-option [value] = "null"></mat-option>
                     <mat-option *ngFor="let col of departments" [value]="(col == null? 0 : col.id)">
                        {{(col == null? "" : col.nameEn)}}
                     </mat-option>
                  </mat-select>
               </mat-form-field>

               <mat-form-field appearance="outline" class="col-md-6 select-sm col-sm-12 form-input">
                  <mat-label>College</mat-label>
                  <mat-select [disabled]="readOnly" formControlName="collegeMenu" id="collegeMenu" required>
                     <mat-option *ngFor="let col of colleges" [value]="col.id">
                        {{col.nameEn}}
                     </mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.get('collegeMenu')?.errors?.required">Required</mat-error>
               </mat-form-field>

               <div>
                <mat-label appearance="outline" class="col-md-2 col-sm-2  form-input">Status</mat-label>
                <mat-checkbox color="primary" id="status" formControlName="status"></mat-checkbox>
              </div>
            </div>
          </form>
          <div class="d-flex">
            <div *ngIf="!readOnly" class="col-md-6 mr-auto col-sm-12 form-input">
              <button (click)="add()" mat-raised-button form="form" class="mainBtn btn btn-primary form-control">
                Update
              </button>
            </div>
            <div *ngIf="readOnly" class="col-md-6 mr-auto col-sm-12 form-input">
              <button (click)="edit()" mat-raised-button form="form" class="mainBtn btn btn-primary form-control">Edit
              </button>
            </div>
            <div class="col-md-6 mr-auto col-sm-12 form-input">
              <button (click)="cancel()" mat-raised-button form="form" class="mainBtn btn btn-primary form-control">
                Cancel
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
