<mat-card class="mat-elevation-z8">

  <div class="timetable">
    <mat-button-toggle-group class="timetable">

      <mat-button-toggle class="btn-primary" (click)="select('Saturday')" value="Saturday">Saturday
      </mat-button-toggle>

      <mat-button-toggle class="btn-primary" (click)="select('Sunday')" value="Sunday">Sunday
      </mat-button-toggle>

      <mat-button-toggle class="btn-primary" (click)="select('Monday')" value="Monday">Monday
      </mat-button-toggle>

      <mat-button-toggle class="btn-primary" (click)="select('Tuesday')" value="Tuesday">Tuesday
      </mat-button-toggle>

      <mat-button-toggle class="btn-primary" (click)="select('Wednesday')" value="Wednesday">Wednesday
      </mat-button-toggle>

      <mat-button-toggle class="btn-primary" (click)="select('Thursday')" value="Thursday">Thursday
      </mat-button-toggle>

      <mat-button-toggle class="btn-primary" (click)="select('Friday')" value="Friday">Friday
      </mat-button-toggle>

    </mat-button-toggle-group>
  </div>

</mat-card>
