
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
.container {
  position: relative;
  width: 95%;
  margin: auto;
}
mat-card {
  width: 90%;
  margin: auto;
}

.align {
  display: flex;
  align-content: space-around;
}

mat-form-field.input-field {
  position: relative;
}

form.form {
  width: 100%;
}

.search-box {
  position: relative;
  width: 50%;
  margin: auto;
}

.search-box input {
  box-shadow: none;
  outline: none;
}

.search-box input:focus {
  box-shadow: none;
  outline: none;
  border-color: var(--main-color);
}

.search-box button:focus {
  box-shadow: none;
}
mat-form-field{
  display: inline;
  width: 40%;
  margin-left: 20px;
  margin-top: 10px;
}


 .form-input {
  position: relative;
}
 .form-input input{
   height: 20px;
 }



.searchField{
  position: relative;
  padding-right: 0;
  padding-top: 0;
}
::ng-deep .searchField .mat-form-field-flex{
  padding-right: 0 !important;
  padding-top: 0 !important;
}
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color:  var(--secondary-color);;
}
.subTitle h4 {
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  position: relative;
  margin: 20px 0;
  display: inline-block
}
.subTitle h4::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  /*    width: 10%;*/
  height: 5px;
  margin-top: 20px;
  background: var(--secondary-color);
  animation: expand 5s 0.5s ease-in-out infinite;
}

@keyframes expand {
  0% {
    width: 0;
  }

  50% {
    width: 20%;
  }

  100% {
    width: 0;
  }
}

.subTitle hr{
  margin-bottom: 10px !important;
}
