<mat-card class="mat-elevation-z8">
  <div class="container">
<!--    <form>-->
<!--      <div class="row">-->
<!--        <div class="col-6 text-center">-->
<!--          <mat-form-field appearance="fill" class="form-group">-->
<!--            <mat-label>Search</mat-label>-->
<!--            <input type="search" [(ngModel)]="studentFilterModel.filterValue" matInput name="collegeFilterModel.englishName">-->
<!--          </mat-form-field>-->
<!--          <div class="form-control">-->
<!--            <input type="search" class="">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-6 text-left">-->
<!--          <button (click)="applyFilter()" class="m-1" color="primary" mat-raised-button>Search</button>-->
<!--          <button (click)="resetFilter()" class="m-1" color="accent" mat-raised-button>Reset</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Colleges</mat-label>-->
<!--        <mat-select #collegeSelect>-->
<!--          <mat-option [value]="undefined">-->
<!--            Choose College-->
<!--          </mat-option>-->
<!--          <mat-option *ngFor="let college of colleges" [value]="college.id">-->
<!--            {{college.nameEn}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->

<!--      </mat-form-field>-->

<!--      <mat-form-field>-->
<!--        <mat-label>Departments</mat-label>-->
<!--        <mat-select disabled #departmentSelect>-->
<!--          <mat-option [value]="undefined">-->
<!--            Choose College-->
<!--          </mat-option>-->
<!--          <mat-option *ngFor="let dept of departments" [value]="dept.id">-->
<!--            {{dept.nameEn}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->

<!--      </mat-form-field>-->
<!--    </form>-->

        <form class="form-row form">
          <div class="form-group col-12 m-auto search-box ">
            <input aria-describedby="emailHelp" class="form-control" name="search" id="exampleInputEmail1" placeholder="Search here"
                   type="search" [(ngModel)]="studentFilterModel.filterValue" >
            <button class="btn btn-primary search-btn"  (click)="applyFilter()" >Search</button>
<!--            <button class="btn btn-primary search-btn" (click)="resetFilter()" >Reset</button>-->

          </div>
          <mat-form-field>
            <mat-label>Colleges</mat-label>
            <mat-select #collegeSelect>
              <mat-option [value]="undefined">
                Choose College
              </mat-option>
              <mat-option color="var(--main-color)" *ngFor="let college of colleges" [value]="college.id">
                {{college.nameEn}}
              </mat-option>
            </mat-select>

          </mat-form-field>

          <mat-form-field>
            <mat-label>Departments</mat-label>
            <mat-select disabled #departmentSelect>
              <mat-option [value]="undefined">
                Choose College
              </mat-option>
              <mat-option *ngFor="let dept of departments" [value]="dept.id">
                {{dept.nameEn}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </form>

  </div>
</mat-card>
