/* You can add global styles to this file, and also import other style files */


:root {
  --main-color: #003147;
  --secondary-color: #03a9f4
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-sort-header-arrow {
  color: #fff !important;
  /*opacity: 1 !important;*/
}

.successSnackBar {
  color: white;
  background-color: #1E8B17;
}

.failedSnackBar {
  color: white;
  background-color: #F00B0B;
}
